body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(80, 135, 163)
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
  margin-left: 6.5px;
}

.business-list {
  /* list-style-type: none;
  margin-left: 0%;
  margin-right: auto; 
  display: table;
  text-align: left;  */
  padding-left: 0;
}

.newYork-list {
  /* list-style-type: none;
  margin-left: 0%;
  margin-right: auto; 
  display: table;
  text-align: left;  */
  padding-left: 0;
}

.content-card {
  padding: 5px;
  margin: 5px;
  width: 20%;
  border: solid .3px bisque;
}
