body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(80, 135, 163)
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
}

hr {
  border: solid .3px bisque;
}

.business-list {
  /* list-style-type: none;
  margin-left: 0%;
  margin-right: auto; 
  display: table;
  text-align: left;  */
  list-style-type: none;
  padding-left: 0;
}

.newYork-list {
  /* list-style-type: none;
  margin-left: 0%;
  margin-right: auto; 
  display: table;
  text-align: left;  */
  list-style-type: none;
  padding-left: 0;
}

.agents {
  list-style-type: none;
  padding-left: 0;
}
